<footer class="footer">
  <div class="container">
    <p class="footer-desc">
      Made with ✨ by
      <a
        class="footer-link"
        href="https://goit.global/ua/"
        target="_blank"
        rel="noopener noreferrer"
      >
        GoIT team
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus
          praesentium explicabo dolorem modi omnis debitis fugiat velit dolor
          facere mollitia veritatis repudiandae natus at maxime, harum
          voluptatum nemo tempora dolorum. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Voluptatum, culpa.
        </p>
      </a>
    </p>
  </div>
</footer>
