.heroh {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0803;
}

.hero {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: red;
}
